@charset "UTF-8";

.구역{
	width: 1000px;
	margin: 0 auto;
}
.테이블 {
	border : solid 1px gray;
	width: 1000px;
	margin: 50px;	
}
.테이블 th{
	border : solid 1px gray;
}
.테이블 td{
	text-align: center;
	border : solid 1px gray;
}
.테이블 input{
	border:none
}
.total {
	display: flex;
}
.box{
	display: flex;
	justify-content: space-around;
}
.행추가{
	background-color: black;
	color: white;
}

