@charset "UTF-8";
*{padding: 0px; margin: 0px; }
a{
	color: black;
	text-decoration: none;	
}

#header{ /* 헤더 */
   width: 1200px; /*가로사이즈*/
   margin: 0 auto; /* 구역 가로가운데정렬 */
   display: flex;   /* 하위요소 배치방법*/
   justify-content: space-between; /* 가로 균등배치 */
}
.header_box{
   width: 100%;
   border: solid 1px white;
   background-color: #e8e8e8;
}
.logo{
   padding: 30px;
   padding-top: 40px;
   margin-left: 100px;
}

/* 본 메뉴 */
.main_menu li{ 
   display: inline-block;      /* li요소들 가로 배치 */
   margin-left: 60px;         /* 바깥 왼쪽 여백 */
   font-size: 12px;
   padding-top: 40px;
   padding-left: 30px;
}




.mid_content{
	width: 1200px;
	margin: 0 auto;
	display: flex;
}
.sq{
	background-color: black;
	width: 5px; height: 18px;
	margin-right: 7px;
}
.mid_ct_top{
	
}
.mid_left_text{	text-align: center;}
.mid_left_text p{font-size: 13px;}
.mid_top_head{
	display: flex;
	align-items: center;
	margin-bottom: 10px;	
}
.mid_left{					/* 달력 구역 */
	background-color: #FCF9EA;
	width: 700px; height: 500px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin:80px 0px 20px 60px; 
}
.color_red{ color: red;}   /* 달력 일요일 색깔 */
.mid_left .mid_cr{			/* 달력 색,크기 */
	background-color:white;
	border-collapse: collapse;
	width: 500px; height: 300px;
	margin-left: 80px;
	
}
.mid_left .mid_cr , .mid_cr th , .mid_cr td{	/* 테두리선 */
	border: solid 2px black;
}
.mid_cr td{	
	width: 80px; height: 70px;
	 align-items: center;
	 margin-bottom: 10px;
}
.mid_right{				/* 본문 텍스트 구역 */
	display: flex;
	flex-direction: column;
	margin: 80px 0px 0px 50px;
}	
.info{
	color: #9CBAA4;
	font-size: 10px;
	margin: 5px 5px 0px 0px;
}

#footer{
   background-color: #2C2A29;      /* 배경색 */
   color:white;               /* 글꼴 색 */
   width: 100%; height: 150px;      /* 크기 */
   margin-top: 30px;             /* 바깥여백 */
}
.ft_box{
   width: 1200px;               /* 가로 길이 */
   margin: 0 auto;               /* 구역 가운데 정렬 */
   display: flex;               /* 하위 요소 배치 방법 */
   justify-content: space-between;   /* 하위 요소 가로 정렬 */
   align-items: center;         
   padding: 10px;
   font-size: 12px;
   padding-top: 20px
}
.font{
   color: #6bafe9;
}
.ft_box li{
   display: flex;
   justify-content: space-between;
    }
.icon{
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}
.ft_menu{
   padding-top:20px;
   margin-right: 10px;
}

.foter_box{
   background-color: #e8e8e8; 
}
.text_color{
   color: #ffe3f0;
   padding-top:15px;
}
.ft_middle{
   padding-top:15px;
}	
	
	
	
	
	