@charset "UTF-8";

*{padding: 0; margin: 0; list-style-type: none; }
@font-face {					/* 눈누 스위트 폰트 */
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.header{			
	height: 130px;
	border-bottom: solid 1px gray;
 	border-color: #EAEAEA;
	
}
.header_top {					/* 헤더 상단 */
	width:100%; height:30px;
	background-color: #C5D9AC;
		
}
.header_top_textbox{			/* 텍스트 박스 크기 */
	width:1200px; height: 30px;
	margin: 0 auto;	
}
.header_top_box{				/* 플렉스 요소 2개 */
	display: flex;
	height: 30px;
	justify-content: flex-end;	
	padding:3px 3px 0px 0px;
}
.header_text{					/* 상위 메뉴 */
	height:30px;	
	font-family: 'SUITE-Regular';
			
}
.header_top_textbox p{				/* 로그인 */
	background-color: #0090A1;
	color: white;	
	width: 50px;height: 25px;		
}
.header_bottom{						/* 헤더 하단 */
	width: 1200px; height: 100px;
	margin: 0 auto;
	display: flex;
}
.header_logo{						/* 헤더 로고  */
	margin-top: 15px;
}
.top_ul_size{						/* 텍스트 박스 사이즈 */
	width: 1000px;

}
.top_ul{							/* ul 박스  */
	display: flex;
	justify-content: space-evenly;
	padding-top: 30px;
}
.top_ul li{							/* top_ul li 폰트제어 */
	font-weight: bold;
	font-size: 18px;
	font-family: 'SUITE-Regular';
}
.type_text_size{					/* 타입 텍스트 크기 제어 */
	width: 180px; height: 23px;
	
}
/* .button_size{
	width: 25px; height: 25px;
}
 */
.middle{			/* 본문 */
	width: 1200px;
	margin: 0 auto; 
 }
 .middle_top{		/* 본문 상단 */
 	
 	display: flex;
 	height: 500px;
 	padding-top: 30px;
 }
 .middle_one_img{margin-right: 30px;}	/* 왼쪽 이미지 박스 */
 .middle_one_img img{					/* 왼쪽 이미지 크기 제어 */
 	width: 900px; height: 500px;
 }
 .middle_three_img{						/* 오른쪽 세개 이미지 제어 */
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
 }
.middle_bottom{					/* 본문 하단*/
	display: flex;
	justify-content: space-between;
}
.first_text{					/* 1번 문단 */
	display: flex;
	flex-direction: column;
}
.today{							/* 1번문단 오늘날짜 */
	display: flex;	
}
.today div{						/* 6월 4일 */		
	width: 100px; height: 80px;	
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}
.today ul{						/* TODAY INFO */
	width: 100px;
	color: #06A7AA;
	margin-top: 10px;
}
.today ul li{					/* INFO li */
	font-size: 25px;
	font-weight: bold;
}












