@charset "UTF-8";

*{ padding: 0px; margin: 0px; list-style-type: none;	}


.top{
	display: flex;
	width: 1200px; height: 100px;
	margin: 0 auto;
	justify-content: space-between;
}
.top_logo{
	margin: 20px;
}
.rightmenu{	
	flex-direction: column;
	
}
.rightmenu {
	margin: 10px;
}
.rightmenu div{
	margin:10px;
}
.topmenu{
	text-align: right;
	font-size: 15px;
}
.mainmenu{
	font-size: 20px;
	word-spacing: 30px;
}
.topbar img{
	width: 2000px; height: 200px;			
}
.middle{
	
	display: flex;
	width: 1200px;
	margin: 0 auto;
	
}
.side{
	margin-top: 10px;
	width: 180px;
}
.side1{
	font-size: 16px;
	background-color: #516E7F;
	width: 160px; height: 20px;
	padding: 10px;
	color: #54B38A;
}
.side2 li{
	border-bottom: dashed 1px gray;
	margin-top: 7px;
	padding-bottom: 5px;
}
.maintext{
	width: 1200px; height: 650px;
	margin-left: 15px;
}
.head{
	margin: 10px 0px;
	font-weight: bold;
	border-bottom: dashed 1px gray;
	padding-bottom: 10px;
}
.main_img {
	margin : 20px 0px;
	text-align: center;
}
.bottom{
	
	color: white;
	background-color: #2C2A29;
	width: 100%;
}
.bottom_range{
	padding: 35px;
	width: 1200px; height:150px;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
}
.bottom_text{
	font-size: 15px;
}













