@charset "UTF-8";

.wrap {
	display: flex;	
}
.writePage , .listPage , .inpage{
	width: 500px;
}

.contentBox {
	width: 400px;
	height: 300px;
}
.writePage{
	position: relative;
}
.writePage button{
	width: 70px;
	height: 30px;
	border: none;
	position: absolute;
	right: 45px;
	bottom: -50px;	
}

.inPage{
	display: flex;
	flex-direction: column;
	height: 100px;
}	
.inPageContent{
	display: flex;
	flex-direction: column;
	height: 50px;
	
}
.thContent span {
	margin-right : 7px; 
	color : gray;
}

	
