@charset "UTF-8";

.wrap{
	width:600px;
	margin: 30px auto;
}
.input_box input{
	border : none;
	border-bottom : 1px solid #e8e8e8;
	height: 40px;
}
.input_button{	
	width:60px;
	height: 30px;
	background-color: black;
	border: none;
	margin-top : 20px;
	margin-left: 36px;
	color:white;
	border-radius: 4px;
}
.output_text{
	margin-top : 20px;
	border: 1px solid #e8e8e8;
}
.tcontent{width:52%;}
.tprice{width:13%;}
.tdate{width:34%;}
.tittle{
	display: flex;
}
.content {
	width:60%;
}
.price{
	width:15%;
}
.date{
	width:25%;
}
.tittle div{
	border : 1px solid #e8e8e8;
}
.text {
	display: flex;
	height: 70px;
	border-top : 1px solid #e8e8e8;
	padding-top: 20px;
}
.button_box button{
	background-color: black;
	border: none;	
	color:white;
	border-radius: 4px;
}
