@charset "UTF-8";

.signupForm{
	width: 50%; margin : 0 auto;
	font-size : 15px;
}
.signupForm h2 , .signupForm p {
	text-align : center; /* 구역내 텍스트 가운데 정렬 */
	margin-top : 20px;
}
.signupForm input{
	width: 100%;
	height: 50px;
	padding: 10px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
}
.intitle{/* 입력 구역 이름 */
	font-size: 13px; margin: 20px 0px 10px 0px;
}
/* 유효성검사 결과 구역 */
.idcheckbox , .pwcheckbox , .emailcheckbox{
	color: #ea3636;
	font-size: 12px;
	margin: 3px 0px 10px 7px;
}
/* 이메일 구역 */
.emailbox{display: flex;}
/* 인증요청 버튼 , 인증 버튼 */
.emailbox button , .authbox button{
	width:20%; height: 50px;
	background-color : #A6774E; color: white;
	border : none; border-radius: 15px;
	margin-left: 5px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
/* 인증구역 */
.authbox{
	display: flex;
	margin-top: 10px;
	align-items: center;
}
/* 시간 표시되는 구역 */
.timebox{
	width: 30%; padding: 10px; font-size: 20px;
}
/* 첨부파일 이미지 미리보기 구역 */
.preimg{
	width: 150px; height: 150px;
	border: 1px solid #e8e8e8; border-radius: 50%;
	margin : 15px 200px;
	object-fit : cover; /* 구역보다 사진이 컸을 때 */
}
/* 회원가입 버튼 */
.signupbtn{
	width: 100%; height: 50px;
	border: none;
	background-color: #A6774E; color: white;
	font-size: 21px;
	margin : 10px 0px 100px 0px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
/* 
	식별자
		1. 하위식별자
				식별자명 하위식별자명		: 모든 하위 식별자 적용
				식별자명>하위식별자명		: 직계 
		2. 복수 식별자
				식별자명 , 식별자명
 */

