@charset "UTF-8";

.forfont1{
	font-size: 20px;
	font-weight: bold;
}
.img1{	width: 300px;}

.forfont2{
	font-size: 17px;
	font-weight: bold;
}
.box{
	border: solid 1px gray;
	width: 400px;
	height: 200px;
	padding-left: 20px;
}
.forfont3{
	display: inline-block;
	color: orange;
}
.line{
	border: solid 1px gray;
	width:400px;
	height:250px;
	padding-left: 20px;
	padding-top: 20px;
}
